body{
  font-family: 'Oswald', sans-serif;
}
.cards{
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
 }

.card{
  display: flex;
  background-color:burlywood;
  flex-basis: auto;
  margin: 10px;
  }

  img{
  align-items:center;
   
  }  

h2{
  text-align: center;
  border: solid 1px chocolate
}



.Available{
  background-color: chocolate;
}
