body{
  font-family: 'Oswald', sans-serif;
}
.cards{
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
 }

@media (min-width: 680px) {
  .card{
    color:brown;
  }
}

.card{
  display: flex;
  background-color:burlywood;
  flex-basis: auto;
  margin: 10px;
  }

  img{
  align-items:center;
   
  }  

h2{
  text-align: center;
  border: solid 1px chocolate
}

.Available{
  background-color: chocolate;
}

.card-img-topper{
  position:absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.card-img-bottom{
  position:absolute;
  top: 25px;
  left: 25px;
  z-index: 2;
}

 